<nav class="navbar navbar-expand-lg px-4" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand me-2" routerLink=""
      ><img
        src="assets/images/pwa.svg"
        width="60"
        height="60"
        alt="Angular Logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=""
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://angular.io/docs"
            >Documentación Oficial</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink=""
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Proyectos Vanilla JS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">PJ1</a></li>
            <li><a class="dropdown-item" href="#">PJ2</a></li>
            <li><a class="dropdown-item" href="#">PJ3</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar componente"
          aria-label="Search"
        />
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
