<!-- La maquetación del esqueleto principal está hecha con clases de Bootstrap en vez de un grid en CSS vanilla. Cada componente es un row. Dentro del main hay 2 componenetes donde cada uno ocupa una cantidad de columnas, según el tamaño de la pantalla. Las medidas especificadas son solo para el componente app-side-bar ya que el section ocupará siempre la cantidad de columnas restantes.
De esta manera la página es totalmente responsive en los 3 dispositivos principales (escritorio, tablet y celulares) y el código es mucho más limpio. -->
<div class="container-fluid">
  <app-navbar class="row sticky-top"></app-navbar>
  <main class="row flex-nowrap overflow-auto">
    <app-sidebar class="col-auto px-0 sidebar-cont"></app-sidebar>
    <!-- 🐱‍👤: si vas a dejar aqui el botón del sidebar, cambiale el nombre al componente, porque puede ser confuso, en lugar de llamarle 'app-content' llamalo 'app-buton-sidebar' o algo así, pero mi recomendación es que si te da tiempo metas el botón en 'sidebar-component' :)  -->
    <app-content class="col-1 pt-2 px-1"></app-content>
    <div class="col ps-md-2 pt-3 paginas.cont">
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-footer class="row"></app-footer>
</div>
