<div class="container-fluid p-0 home-container">
  <div class="row">
    <div class="txt-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4 txt-shadow">Angular Project</h1>
      <p class="lead text-white txt-shadow">
        Este proyecto es una prueba multidisciplinar basada en conceptos de
        Angular y Bootstrap. Incluye maquetación de rutas, consumo de APIs,
        maquetación de componentes y servicios, consumo de backend y estilado.
      </p>
    </div>

    <div class="container px-5">
      <div class="row">
        <div class="col-12">
          <div class="card-deck mb-3 text-center row justify-content-center">
            <div class="col-lg-3 mx-2 p-0 card mb-4">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Angular</h4>
              </div>
              <div class="card-body">
                <img
                  src="../../../assets/images/angular.png"
                  alt="Angular Logo"
                  width="200"
                />
                <button
                  href="https://angular.io/"
                  type="button"
                  class="btn btn-lg btn-block btn-dark but1"
                >
                  <a
                    href="https://angular.io/"
                    target="_blank"
                    class="text-reset text-decoration-none"
                    >Ir a Angular</a
                  >
                </button>
              </div>
            </div>
            <div class="col-lg-3 mx-2 p-0 card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Bootstrap</h4>
              </div>
              <div class="card-body">
                <img
                  src="../../../assets/images/bootstrap.png"
                  alt="Bootstrap Logo"
                  width="200"
                />
                <button
                  type="button"
                  class="btn btn-lg btn-block btn-dark but2"
                >
                  <a
                    href="https://getbootstrap.com/"
                    target="_blank"
                    class="text-reset text-decoration-none"
                    >Ir a Bootstrap</a
                  >
                </button>
              </div>
            </div>
            <div class="col-lg-3 mx-2 p-0 card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">MDN Web Docs</h4>
              </div>
              <div class="card-body">
                <img
                  src="../../../assets/images/mdn.png"
                  alt="Bootstrap Logo"
                  width="200"
                />
                <button
                  type="button"
                  class="btn btn-lg btn-block btn-dark but3"
                >
                  <a
                    href="https://developer.mozilla.org/es/"
                    target="_blank"
                    class="text-reset text-decoration-none"
                    >Ir a MDN</a
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
