<!-- 🐱‍👤: sugerencia, meter aqui el botón del sidebar  -->
<div id="sidebar" class="collapse collapse-horizontal show">
  <div id="sidebar-nav" class="list-group rounded-0 text-sm-start">
    <a
      routerLink="/clima"
      class="list-group-item text-truncate my-2 mx-2 p-4"
      data-bs-parent="#sidebar"
      ><i class="bi bi-thermometer-snow"></i> <span>Clima</span>
    </a>
    <a
      routerLink=""
      class="list-group-item border-end-0 d-inline-block text-truncate my-2 mx-2 p-4"
      data-bs-parent="#sidebar"
      ><i class="bi bi-film"></i> <span>Spotify</span></a
    >
    <a
      href="#"
      class="list-group-item border-end-0 d-inline-block text-truncate my-2 mx-2 p-4"
      data-bs-parent="#sidebar"
      ><i class="bi bi-heart"></i> <span>Youtube</span></a
    >
    <a
      href="#"
      class="list-group-item border-end-0 d-inline-block text-truncate my-2 mx-2 p-4"
      data-bs-parent="#sidebar"
      ><i class="bi bi-bricks"></i> <span>Item</span></a
    >
  </div>
</div>
